
/* HEADERS */
h1 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 2.2em!important;
    border-bottom: 4px solid #20634e;
	text-transform: uppercase;
    margin: 40px 10px;
}

.lead {
	color: #b0dfd0;
}

/* BACKGROUNDS */
.bg-secondary {
	background-color: #20463a !important;
}
.btn-github {
	background-color: #252525 !important;
	border-color: #454545;
	color: #999;
}
.btn-github:hover {
	background-color: #454545 !important;
	color: #eee;
}

/* BUTTONS */
.btn-primary {
	background-color: #158f6a !important;
	border-color: #303030;
}
.btn-primary:hover,
.btn-primary:active {
	background-color: #4cb191 !important;
	border-color: #303030;
	color: #afc;
}

.btn-secondary {
	background-color: #252525 !important;
	border-color: #303030;
}
.btn-secondary:hover,
.btn-secondary:active {
	background-color: #4cb191 !important;
	border-color: #303030;
	color: #afc;
}

/* SHADOW */
.shadow-lg {
	box-shadow: 4px 8px 8px #05050580 !important;
}

/* INPUT */
label[for=floatingInput],
label[for=floatingPassword] {
	color: #4e6b62;
}
label[for=floatingInput]:active,
label[for=floatingPassword]:active {
	color: #488a75 !important;
	opacity: 1;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	border: 1px solid #454545;
	background-color: #050505;
	color: #252525;
	outline: 0 none;
}

textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.uneditable-input:active {
	border: 1px solid #158f6a;
	color: #158f6a;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.075) inset, 0 0 16px #158f6a;
	outline: 0 none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border: 1px solid #158f6a;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.075) inset, 0 0 16px #158f6a;
	background-color:#050505;
	outline: 0 none;
}

textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.uneditable-input:active {
	border: 1px solid #158f6a;
	color: #158f6a;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.075) inset, 0 0 16px #158f6a;
	outline: 0 none;
}

body::selection,
textarea::selection,
input[type="text"]::selection,
input[type="password"]::selection,
input[type="datetime"]::selection,
input[type="datetime-local"]::selection,
input[type="date"]::selection,
input[type="month"]::selection,
input[type="time"]::selection,
input[type="week"]::selection,
input[type="number"]::selection,
input[type="email"]::selection,
input[type="url"]::selection,
input[type="search"]::selection,
input[type="tel"]::selection,
input[type="color"]::selection,
.uneditable-input::selection {
	border: 1px solid #158f6a;
	color: #158f6a;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.075) inset, 0 0 16px #158f6a;
	outline: 0 none;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	10% {
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	10% {
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-5%);
	}
	80% {
		opacity: .8;
		transform: translateY(0);
	}
	to {
		opacity: 1;
	}
}

@keyframes slideInUp {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
